<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appexmple">
    <!-- 外部存储的写权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 需要打开的第三方APP包名 -->
    <queries>
        <package android:name="com.moocxuetang"></package>
        <package android:name="cn.xuexi.android"></package>
    </queries>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/http_config"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <service
            android:name="com.example.service.BaseService"
            android:enabled="true"
            android:exported="true" /> <!-- 辅助服务 -->
        <service
            android:name="com.example.service.AIReadService"
            android:description="@string/service_description"
            android:enabled="true"
            android:exported="true"
            android:label="@string/service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/service_config" />
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>